body {
	background-color: #cacccc;
}

.header {
	color: blue;
	padding-left: 20px;
}

.container {
	box-sizing: border-box;
}

.jpegInfo {
	background-color: white;
	border: 1px dotted blue;
	margin: 0 1px;
	float: left;
	height: 375px;
	padding: 30px 10px 0 20px;
}

.definition {
	width: 24%;
	padding-right: 20px;
}

.image {
	width: 47%;
	padding-right: 20px;
}

img {
	max-width: 100%;
	min-width: 20%;
}

.list {
	width: 20%;
}

.clear {
	clear: left;
/*	float: none;*/
}

.copy {
	text-align: center;
	padding: 20px;
}